*{
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: black;
}

h2{
    text-align: end;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: rgb(153, 145, 145);
}
a:hover{
    color: red;
    text-transform: uppercase;
}

h4{
    font-size: 25px;
    margin-top: 10%;
}

input[type="text"]{
    border-radius: 1rem;
    height: 30px;
    width: 500px;

}
,input[type="submit"]