*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}
body{
    padding: 0;
    margin: 0;

}
header{
    background: #000;
    height: 80px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}
.logo{
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    width: 80%;
}
.compris{
    float: right;
    width: 10%;
    align-content: flex-end;
    color: #000;

}
p{
    background: #fff;
    border-radius: 8px;
    padding: 15px;
}

nav{
    width: 100%;
}
.input{
    padding: 15px;
}
input[type="search"]{
    width: 75%;
    padding-left: 15px;
    border-radius: 5px;
    background: #ecf0f1;
}
a{
    color: black;
    text-decoration: none;
    padding: 5px;
}
div{
    width: 100%;
    display: flex;
}

img{
    float: left;
    width: 23%;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 11px;
    
}
.hauteur{
    height:300px;
}