*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    outline: none;
}
body{
    background: whitesmoke;
    box-sizing: border-box;

 
}
.header{
    margin-top: 0;
    width: 100%;
    height: 70px;
    font-size: 1.5em;
    background: #3b5998;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header .logo{
    margin: 0;
    padding: 0;
}
.header .logo h1{
    margin-left: 45%;
}
.section{
    position: absolute;
    top: 20%;
    left: 30%;
    height: 300px;
    width: 650px;
    text-align: center;
    display: inline-block;
}
.txt-mail, .password, input[type="button"], .btn{
    width: 500px;
    height: 30px;
    display: block;
    margin-left: 70px;
    padding-top: 10px;
    margin-right: 10px;
    border-radius: 7px;
}
input[type="text"], input[type="password"]{
    padding-left: 15px;

}
.section input[type="button"]{
    color: white;
    background: blue;
    border: 0;
    border-radius: 5px;
    width: 520px;
    height: 50px;
}
.btn{
    color: white;
    background: green;
    height: 45px;
    width: 200px;
    border-radius: 3px;
    margin-left: 220px;
}

.footer{
    position: absolute;
    margin-left: 110px;
    top: 60%;
    left: 30%;
    height: 300px;
    width: 650px;
    text-align: center;
    display: flex;
}
ul{
    float: left;
    width: 30%;
}
ol{
    float: right;
    width: 30%;
}
p{
    position: absolute;
    text-align: center;
    top: 80%;
    left: 50%;
}