*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background: #bdc3c7;
}

header{
    margin: 20px 10px 0 10px;
    background: #4b4b4b;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    
}

.logo1{
    font-size: 50px;
    padding-left: 10px;
    padding-top: 10px;
}
.logo2{
    font-size: larger;
    padding-right: 30px;
    padding-top: 30px;
}
nav{
    background: #16a085;
    margin: 0 10px 0 10px;
    height: 40px;
    padding-top: 10px;
}

nav .nav_link a{
    color: white;
    text-decoration: none;
    width: auto;
    padding: 50px;
}
section{
    background: #fff;
    margin: 0 10px 0 10px;
    height: auto;
    padding-top: 10px; 
}


 div{
    margin: 0 10px 0 10px;
 }
.articles{
    width: 100%;
    display: flex;
}
.gauche1{
    float: left;
    width: 75%;

}

h1{
    font-size: 35px;
}
.droite1{
    float: right;
    width: 25%;
}
.x{
    background: #4b4b4b;
    width: auto;

}
.position{
    display: flex;
    width: 100%;
}
.gauche2{
    float: left;
    width: 50%;
}
.droite2{
    float: right;
    width: 50%;
}

.section_pied{
    background: #4b4b4b;
    color: #fff;
    margin: 0 10px 0 10px;
    height: auto;
    padding: 10px 10px 20px 10px; 
    display: flex;

}
.left{
    float: left;
    width: 80%;
}
footer{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;
}
