body{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(185, 197, 195);
}
header{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
}
.logo{
    float: left;

}
.header{
    float: right;
}
.link{
    color: black;
}
input[type="search"]{
    width: 300px;
    margin-bottom: 10px;
    padding-left: 15px;
}
.nav{
    background: blue;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
.nav2{
    margin-left: 5%;
    margin-right: 5%;
}
a{
    text-decoration: 100%;
    color: #fff;
    padding-right: 15px;
}
section{
    margin-left: 20%;
    margin-right: 15%;
}
.conteneur{
    display: flex;
    width: 100%;
    height: auto;
}
.gauche{
    float: left;
    width: 20%;
}
.droite{
    float: right;
    width: 80%;
    padding-right: 15px;
    margin-top: 10px;
}
.flex{
    display: flex;
}
.flexible{
    display: flex;
}
h2{
    margin-left: 15%;
}
ul{
    list-style: none;
    cursor: pointer;
}
li{
    color: #182C61;
}
.liste{
    background: cadetblue;
    color: white;
}
button{
    color: white;
    background: yellowgreen;
    border: none;
    height: 30px;
    width: 160px;
}
.footer{
    display: flex;
    margin-left: 10%;
}
img{
    padding-right: 30px;
}