/*commencement par attribution des marges et une police*/
*{
    margin:0px;
    padding: 0px;
    transition: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body{
    margin: auto;
    background:url(../photos/photo-1465146344425-f00d5f5c8f07.jpg) no-repeat fixed;
    background-size: cover;
    color: #000;/*couleur de texte*/
}
header{
    background: #0652DD;
    display: flex;
    justify-content: space-between;
}
.logo{
    float: left;
    padding: 30px;
}
input[type="search"],button{
    float: left;
}
input[type="search"]{
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
}
input[type="search"]:hover{
    box-shadow: 5px;
}
button{
    border: none;
    height: 30px;
    cursor: pointer;
}
span{
    padding: 30px;
}
.vid-tit{
    color:#000;
    font-size: 50px;
    text-align: start;/*aligner le texte au centre*/
}
.slider .slides .slide img{
    width: 500px;/*largeur est de 500px*/
}
.container{
    display: flex;/*permet de deplacer les elements*/
    width: 100%;/*.container prenda 100% de la largeur par defaut de la page*/
    height: auto;/*auteur automatique*/
    background: #192a56/*couleur de fond*/
}

.ecriture{
    float: right;
    width: 50%;/*.ecriture prendra la moiter de la largeur de la page*/
    text-align: center;/*alignement du texte au centre*/
    margin-top: 39px ;/*marge superieure*/
    font-size: 90px;/*taille du caractere*/
    overflow: hidden;/*cacher le contenu*/
    font-style: italic;/*style du texte : en italique*/
    color:#fff;/*couleur du texte*/
    transition: 2s;/*petite animation lors du chargement de la page*/
    /*police a .ecriture*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.slider .slides .slide img{
    width: 600px;/*appliquer une largeur*/
    border-radius: 1rem/*arrondis*/
}
.slider{
    transition: 2s;/*petite animation au chargement de la page*/
    width: 600px;/*largeur du slider*/
    overflow: hidden; /*cacher les ecrits*/
    position: relative; /*appliquer une position relative au texte*/
    float: left; /*deplacer le contenu vers la gauche*/
}
.slides{
    width: calc(600px*3);/*calculer le pixel du nombre de photos afin de les disposer sur la meme ligne */
    animation: switch 15s infinite; /*proprietes de l'animation*/
}
.slide{
    
    float: left; /*positionnement du slide*/
}
/*faire une animation apres chaque instants*/
@keyframes switch{
    0%{
        transform: translatex(0) /*a 0% laisser la premiere photos*/
    }
    10%{
        transform: translatex(0)/*marquer un petit temps d'arret*/
    }
    33%{
        transform: translatex(-600px) /*mettre en mouvement sur l'axe -x*/
    }
    43%{
        transform: translatex(-600px)/*marquer un temps d(arrets*/
    }
    66%{
        transform: translatex(-1200px) /*mettre en mouvement sur l'axe -x*/
    }
    76%{
        transform: translatex(-1200px)/*marquer un temps d(arrets*/
    }
    100%{
        transform: translatex(0)/*revenir a 0*/
    }
}
video{
    width: 150px;/*largeur de 150px*/
    height: 150px;/*hauteur  de 150px*/
    outline: none;/*enlever les lignes de bordures*/
    margin-top:30px;/*marges de haut*/
}
.contenu{
    display:flex;/*deplacer les elements*/
    width: 100%;/*100% de la largeur de la page*/
    height: auto;/*hauteur automatique*/

}
.gauche{
    float: left;/*positionner vers la gauche*/
    width: 48%;/*largeur occupe la moitier de la largeur */

}
.droite{
    float: right;/*positionner a droite*/
    width: 49%; /*largeur occupe la moitier de la largeur du contenu*/
}
.photostexte{
    padding: 20px;/*marge interne*/
    display: flex;/*deplacer les elements*/
    width: 100%;/*occupe la largeur de 100%*/
    height: auto;/*hauteur automatique*/
}
video{
    float: left;/*positionner a gauche*/
    width: 35%;/*occupe une largeur de 40%*/

}
.btn{
    width: 150px;
    height: 90px;
    background: blue;
    border-radius: 15px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.description{
    float: right;/*positionner a droite*/
    width: 55%;/*occupe 60% de la largeur de la page*/
    justify-content: center;/*aligner tout au centre*/
    margin-top:50px;/*marge de haut*/
    padding: 20px;/*marge de haut*/
}
img{
    width: 300px;/*appliquer une largeur*/
    border-radius: 1rem/*arrondi des images*/
}
h5{
    font-size: 1.5rem;/*taille du texte*/
    
}

.footer-bottom{
    padding: 10px;/*marge interne*/
    background: #c23616;/*couleur de fond*/
    color: #fff;/*ouleur de texte*/
    font-size: 12px;/*taille du caractere*/
    text-align: center;/*aligner le texte au centre*/
}
