*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}
.container{
    padding: 0 100px 0 100px;
}

nav ul, .main-info-section, .work-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body{
    background: #252627;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.navbar{
    background: #181818;
}
header h1, header a,
.text p, .about h1,
.experience h1, .biography h1,
.feat h1, .hobbies h1
{
    color: #707070;
}
li{
    list-style: none;
    margin-left: 30px;
}
a{
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}
.main-info-section{
    height: calc(100vh - 81.6px);
}
.text{
    margin-top: 120px;
}
.text h1{
    color: #fff;
    font-size: 3rem;
    cursor: context-menu;
}
.text span{
    display: inline-block;
}
span:hover{
    color: #48cfad;
    transition: all .5s;
}
span.name{
    color: #ed5565;
}
span.m-left{
    margin-left: -10px;
}
.text p{
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
}
.text a{
    padding: 12px 25px;
    background-color: none;
    border: #ed5565;
    color: #ed5565;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}
.text a:hover{
    color: #fff;
}
.text a::before{
    content: '';
    background: #ed5565;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}
.text a:hover::before{
    height: 100%;
}
.profile-image img{
    width: 450px;
    height: 500px;
    opacity: .8;
    margin-top: 50px;
}
.about{
    height: 100vh;
    margin-top: 100px;
}
.about h1,
.experience h1{
    font-size: 10rem;
    z-index: 0;
    opacity: .1;
}

.about-me_info{
    max-width: 900px;
    background: #252627;
    padding: 50px;
    position: relative;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

a.about-me_info p{
    font-size: 1.3rem;
    color: #bebebe;
}

.about-me_info p:nth-child(2),
.about-me_info p:last-child{
    margin-top: 30px;
}
.about img{ 
    width: 300px;
    position: relative;
    top: -300px;
    left: calc(100% - 100px);
    right: calc(100% - 100px);
    transform: translateX(-100% + 100px);
}
.experience h1,
.hobbies h1{
    text-align: right;
    font-size: 10rem;
    opacity: .1;
}
.biography h1,
.feat h1{
    text-align: left;
    font-size: 10rem;
    opacity: .1;
}

.experience-info{
    font-size: 1.4rem;
    max-width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
}
.html{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}
div[class^='tag-']{
    clip-path: polygon(75% 0%, 100% 50%, 76% 100%, 0% 100%, 0% 50%, 0% 0%);
    width: 120px;
    height: 30px;
    background-color: #1785A7;
    margin-right: 30px;
}
div[class^='tag-'] p{
    color: #fff;
    text-align: left;
    padding-left: 10px;
    font-size: 1.1rem;
    padding-top: 3px;
}
.progressbar{
    position: relative;
    width: 600px;
    height: 20px;
    border: 2px solid #48cfad;
    border-radius: 20px;
    margin-top: 7px;
}
div[class^='bar-']{
    position: absolute;
    background: #48cfad;
    height: 10px;
    border-radius: 20px;
    margin: 2.7px;
}

.bar-html, .bar-css,
.bar-photoshop, .bar-c{
    width: calc(0 - 6px);
}
.bar-html{
    width: 95%;
    background: #c0392b;
    transition: 300ms;
}
.bar-css{
    width: 88%;
    background: #c0392b;
    transition: 300ms;
}
.bar-photoshop{
    width: 35%;
    background: #c0392b;
    transition: 300ms;
}
.bar-c{
    width: 20%;
    background: #c0392b;
    transition: 300ms;
}

footer p{
    text-align: center;
    color: #707070;
    font-size: 1.2rem;
    padding: 30px 0;
}