body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #053315;
}
div{
    height: 310px;
    width: 300px;
    border: 50px solid #fdcb6e;
    border-radius: 15px;
    box-shadow: 5px;
    position: absolute;
    left: 45%;
    margin-left: -140px;
    top: 120px;
}
h1{
    color: #fff;
    text-align: center;
}
a{
    opacity: .6;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding-left: 10px;
}
a:hover{
    opacity: 1;
    border: 1px dashed #fdcb6e;
    border-radius: 15px;
}
@media (max-width: 500px) {
    div{
        height: 210px;
        width: 200px;
        border: 30px solid #fdcb6e;
        left: 50%;
        top: 200px;
    }
    a{
        font-size: 15px;
        
    }
}