body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #053315;
}
button{
    position: absolute;
    border: none;
    background: #1289A7;
    height: 50px;
    width: 100px;
    color: #fff;
    left: 37%;
    top: 70px;
}
span{
    display: flex;
    position: absolute;
    top: -50px;
}
p{
    padding-left: 5px;
}
.p1{
    border-right: 1px solid#000;
    padding-right: 5px;
}
.r{
    padding-left: 70px;
}
div{
    height: 310px;
    width: 300px;
    border: 50px solid #fdcb6e;
    border-radius: 15px;
    box-shadow: 5px;
    position: absolute;
    left: 45%;
    margin-left: -140px;
    top: 120px;
}
td{
    border: 2px solid #fff;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    cursor: pointer;
}
table{
    box-sizing: border-box;
    border-collapse: collapse;
    position: relative;
    height: auto;
    width: auto;
    align-self: center;
}
table tr:first-child td{
    border-top: 0;
}
table tr:last-child td{
    border-bottom: 0;
}
table tr td:first-child{
    border-left: 0;
}
table tr td:last-child{
    border-right: 0;
}
@media (max-width: 500px){
    div{
        height: 210px;
        width: 200px;
        border: 50px solid #fdcb6e;
        left: 45%;
        top: 200px;
    }
    button{
        border: none;
        background: #1289A7;
        height: 50px;
        width: 100px;
        color: #fff;
        left: 25%;
        top: 150px;
    }

    p{
        padding-left: 1px;
    }
    .p1{
   
        padding-left: 0;
    }
    .r{
        padding-left: 10px;
    }
    td{
        border: 2px solid #fff;
        height: 66px;
        width: 100px;
        text-align: center;
        vertical-align: middle;
        font-size: 70px;
        cursor: pointer;
    }
    table{
        box-sizing: border-box;
        border-collapse: collapse;
        position: relative;
        height: 100px;
        width: auto;
        align-self: center;
    }
}