body{
	font-family: " 	Arial Verdana", Times , serif;
}
.image{

     float: left;
    width: 49%;
    height: 750px;
    border-bottom: 5px solid green;
   border-top: 5px solid green;
   border-left:5px solid green; 
    background: url("resize1.jfif");
}
.formulaire{

float: right;
   width: 50%;
    height: 750px;
   border-bottom: 5px solid green;
   border-top: 5px solid green;
   border-right:5px solid green; 
    background-color: white;
    text-align: justify;

}
h1{
	color: blue;
}
h2{
	color: blue;
}
input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid grey;
    border-radius: 4px;
}
input[type=mail] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid grey;
    border-radius: 4px;
}
input[type=checkbox] {
   

    
}
input[type=number] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid grey;
    border-radius: 4px;
}
input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid grey;
    border-radius: 4px;
}
input[type=submit] {
    background-color: blue;
    color: white;
    width: 56%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid grey;
    border-radius: 4px;
}
form{
	text-align: center;
}